
<footer class="text-white py-4 mt-5">
    <hr class="bg-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p class="text-white">We provide amazing community events and gatherings.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled d-flex justify-content-evenly">
            <li><a href="/" class="text-white text-decoration-none">Home</a></li>
            <li><a href="/events" class="text-white text-decoration-none link">Events</a></li>
            <li><a href="/about" class="text-white text-decoration-none link">About</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: sandiprathod2667&#64;gmail.com</p>
          <p>Phone: +917666883677</p>
        </div>
      </div>
      <hr class="bg-light">
      <p class="mb-0">&copy; 2025. All Rights Reserved.  Website Design | Developed By: Sandip Raju Rathod</p>
    </div>
  </footer>
  
