
<div class="hero-section my-1 text-white w-20">
        <div class="container" data-aos="fade-left" data-aos-duration="1000">
            <div class="card w-80 mx-auto p-4">
              <h2 class="mb-4">About Communion App</h2>
              <p>The Communion App is a platform designed to connect, engage, and uplift individuals within a faith-based community. Whether you want to participate in meaningful discussions, share prayer requests, or stay updated on upcoming events, our app helps bring people closer together.</p>
            </div>
          </div>
          <div class="container" data-aos="fade-right" data-aos-duration="1000">
            <div class="card w-80 mt-4 mx-auto p-4">
              <h2 class="mb-4">Our Mission</h2>
              <p>We strive to create a welcoming and supportive space where individuals can share faith, seek guidance, and connect with like-minded people.</p>
            </div>
          </div>
          
</div>